extend layout
block content
    ul(class="thumbnails")
        each item in data.rows
            li(class="span3")
                a(href="#{item.href}",target="_self",class="thumbnail")
                    img(src="https://i1.ytimg.com/vi/#{item.youtube.id}/hqdefault.jpg",alt="#{item.title}")
                    div(class="GB span3")
                h5
                    a(href="#{item.href}",target="_self") #{item.title}
                div(class="date") #{item.date}
    script.
        $("#h_hangout").addClass('selected');